<h2>ACS</h2>
<form action="#" th:action="@{/acs}" method="post">
    <label for="user">User</label>
    <select name="user" id="user">
        <option value="user" hidden>select</option>
        <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.id}"></option>
    </select>

    </select>
    <label for="room">Room</label>
    <select name="room" id="room">
        <option value="room" hidden>select</option>
        <option th:each="room : ${rooms}" th:value="${room.id}" th:text="${room.name}"></option>
    </select>



    <input type="submit" value="Check Building">
</form>
<div th:if="${res != null}" th:text="'Building check result: ' + ${res}"></div>

<br>
<h1>Go to:</h1>
<table cellspacing="15">
    <th><a href="/rooms">Rooms</a></th>
    <th><a href="/">Users</a></th>
    <th><a href="/building">Building</a></th>
</table>

<!--<form action="#" th:action="@{/acsCheckBuilding}" method="get">-->
<!--    <input type="submit" value="Check Building">-->
<!--</form>-->

<!--<div th:if="${res != null}" th:text="'Building check result: ' + ${res}"></div>-->

<!--<br>-->
<!--<h1>Go to:</h1>-->
<!--<table cellspacing="15">-->
<!--    <th><a href="/rooms">Rooms</a></th>-->
<!--    <th><a href="/">Users</a></th>-->
<!--    <th><a href="/building">Building</a></th>-->
<!--</table>-->
<!--</div>-->