<form action="#" th:action="@{/adduser}" th:object="${userModel}" method="post">

    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    <p></p>

    <label for="surname">Surname</label>
    <input type="text" th:field="*{surname}" id="surname" placeholder="Surname">
    <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></span>
    <p></p>

    <!--    menu wyboru department-->

    <label for="department">Department</label>
    <select name="department" id="department" th:field="*{department}">
        <option value="department" hidden>select</option>
        <option th:each="departmentOpt : ${T(com.example.accesscontrolsystem.model.Departments).values()}"
                th:value="${departmentOpt.name()}"
                th:text="${departmentOpt.getDisplayText()}"></option>
    </select>

    <p></p>
    <!--    menu wyboru department-->

    <!--    menu wyboru building-->


<!--    <label for="departments">Departments:</label>-->
<!--    <ul id="departments">-->
<!--        <li th:each="department : ${T(com.example.accesscontrolsystem.model.Departments).values()}">-->
<!--            <input type="checkbox" th:field="*{departments}" th:value="${department}" th:text="${department}"/>-->
<!--        </li>-->
<!--    </ul>-->


    <label>Building:</label>
    <ul id="buildingModels">
        <li th:each="building : ${buildingModel}"></li>
    </ul>
<!--    <div th:each="model, iterStat : ${buildingModels}">-->
<!--        <input type="checkbox" th:id="${'buildingModel-' + iterStat.index}"-->
<!--               th:name="${'buildingModels[' + iterStat.index + ']'}" th:value="${model}" />-->
<!--        <label th:for="${'buildingModel-' + iterStat.index}"-->
<!--               th:text="${model.name}"></label>-->
<!--    </div>-->

    <!--    menu wyboru building-->

    <!--    menu wyboru access-list-->

    <p></p>
    <label>Access List:</label>
    <div th:each="access : ${T(com.example.accesscontrolsystem.AccessList).values()}">
        <input type="checkbox" th:field="*{accessList}" th:value="${access}" id="${'accessList-' + access}" />
        <label th:for="${'accessList-' + access}" th:text="${access.name}"></label>
    </div>

    <!--    menu wyboru access-list-->

    <p></p>
    <input type="submit" value="Add User">


</form>